/*Universal Section*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

html {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgba(158, 176, 199, 0), rgb(201, 156, 32));
    color: rgb(255, 255, 255);
    background-repeat: no-repeat;
}

.Banner {
    text-align: center;
    position: fixed;
    border: 1px solid black;
    z-index: 10;
    background-color: black;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    align-content: center;
    font-family: "Cinzel Decorative";   
}

.Banner h2 {
    font-size: 3rem;
}



.mainContainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}



/*SideBar Section*/

.sideBarContainer {
    border-radius: 0.5rem;
    width: 15rem;
    height: 70%;
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(201, 24, 24, 0) rgba(184, 11, 11, 0);
    position: fixed;
    left: 0;
    top: 6rem;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.99);
    color: black;
    text-align: center;
}

.sideBarContainer h2 {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
    text-shadow: 1.2px 1.2px 0px rgb(131, 135, 185);
    font-family: "Cinzel Decorative";
}


/*Single bar Section*/

.oneBar {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    box-shadow:  0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.99);
    width: 90%;
    justify-self: center;
    font-size: 1rem;
    min-height: 2rem;
    font-family: "IBM Plex Mono";
}

.oneBar:active {
    box-shadow: none;
  }


.oneBar h3 {
    margin-top: 0.4rem;
    margin-bottom: 0.3rem;
}


/*Seach Bar section*/

.form {
    display: flex;
    height: auto;
    align-items: center;
}

.SearchBarContainer input {
    height: 3rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.99);
    
}

.SearchBarContainer button {
    width: 3rem;
    height: 3rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    background-color: rgb(33, 176, 253);
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.99);
}

.SearchBarContainer button:active{
    box-shadow: none;
    margin-top: 0.1rem;
    margin-bottom: -0.1rem;
}


/*All Panels Section*/
.panelsMain {
    padding: 10rem;
    width: 90%;
    height: 50rem;
    overflow-y: scroll;
    justify-items: center;
    scrollbar-width: thin;
    scrollbar-color: rgba(201, 24, 24, 0) rgba(184, 11, 11, 0);
    padding-right: 0;
    font-family: "IBM Plex Mono";
    text-shadow: 1.2px 1.2px 0px rgb(44, 54, 190);
}

.panelContainer {
    width: 70%;
}


/*Single Panel Section*/
.onePanelContainer {
    display: flex;
    width: auto;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.99);
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 0.5rem;
}

.onePanel {
    height: 25rem;
    width: 50rem;
    justify-items: center;
    margin-top: 1rem;
    padding-right: 3rem;
}

.onePanel h3 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

.onePanelIMG {
    max-width: auto;
    max-height: 15rem;
    justify-self: center;
}

.onePanelVideo {
    max-width: auto;
    max-height: 15rem;
}

.onePanelP, .onePanelLink {
    text-align: center;
    text-decoration: none;
}

.onePanel h6 {
    margin-top: 2rem;
}

.panelInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: auto;
    width: 20%;
}


/*SubReddit Name Section*/
.subredditNameContainer {
    margin-left: 1rem;
    margin-top: 1rem;
    text-align: center;
    font-weight: 700;
}


/*Upvote button section*/
.arrowContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    align-self: center;
    text-align: center;
    font-weight: 700;
}

.upArrow {
    width: 1rem;
    height: 2rem;
    margin-left: 2.02rem;
    
}

.downArrow {
    width: 1rem;
    height: 2rem;
    margin-left: 2.02rem;
}


/*Author Section*/
.authorContainer{
    margin-left: 1rem;
    margin-bottom: 1rem;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 700;
}

/*Comment button Section*/
.buttonContainer {
    align-self: end;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.commentsBTN {
    height: 2rem;  
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.99); 
    border-radius: 0.3rem;
    font-family: "IBM Plex Mono";
    font-weight: 600;
}


/*Comment Panel Section*/
.commentPanel {
    overflow: scroll;
    height: 25rem;
    width: 55rem;
    font-size: 1.1rem;
    font-family: "IBM Plex Mono";
}

.commentsBTN:active {
    box-shadow: none;
    margin-top: 0.1rem;
    margin-bottom: -0.1rem;
}







